name: Deploy Next.js

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.VPS_SSH_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519

      - name: Deploy to VPS
        run: |
          ssh -o StrictHostKeyChecking=no \
              -i ~/.ssh/id_ed25519 \
              ${{ secrets.VPS_USER }}@${{ secrets.VPS_HOST }} << 'EOF'

            export NVM_DIR="$HOME/.nvm"
            source "$NVM_DIR/nvm.sh"

            nvm use 22

            echo "Node version:"
            node -v
            echo "NPM version:"
            npm -v
            
            cd ~/htdocs/dinwood.shop
            
            git pull origin main
            npm install
            npm run build

           npx pm2 restart nextjs-app || \
           npx pm2 start npm --name "nextjs-app" -- start

          EOF
